 
/* aboutUs_styles.css */

.about-us-container {
  background-color: #e6e6e6;
  }
  
  .about-us-header {
    text-align: center;
    
  }
   
  .about-us-content {
    margin-top: 20px;
  }
  
  .instructor-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* instructorCard_styles.css */
  
  .instructor-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
  }
  
  .instructor-photo {
    width: 100%;
    border-radius: 10px;
  }
  
  .instructor-info h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .instructor-info p {
    color: #666;
  }
  /* aboutUsContent_styles.css */

  .about-us-content h2 {
    font-size: 28px; /* Aumentamos el tamaño de la fuente */
    margin-top: 30px; /* Aumentamos el espacio superior */
    margin-bottom: 20px;
    color: #333; /* Cambiamos el color del título */
  }
  
  
  .about-us-content ul {
    list-style-type: disc;
    margin-left: 30px; /* Aumentamos la sangría */
    margin-bottom: 20px; /* Agregamos espacio inferior */
  }
  
  .about-us-content ul li {
    margin-bottom: 10px; /* Reducimos el espacio entre elementos de la lista */
  }
  
  .instructor-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Ajustamos el ancho de las tarjetas */
    gap: 20px;
  }
  
  /* instructorCard_styles.css */
  
  .instructor-card {
    background-color: #f9f9f9; /* Cambiamos el color de fondo */
    border-radius: 8px; /* Reducimos el radio de la esquina */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregamos sombra */
  }
  
  .instructor-photo {
    width: 100%;
    border-radius: 8px; /* Reducimos el radio de la esquina */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Agregamos sombra */
  }
  
  .instructor-info h3 {
    margin-top: 15px; /* Reducimos el espacio superior */
    margin-bottom: 10px;
    font-size: 18px; /* Ajustamos el tamaño de la fuente */
  }
  
  .instructor-info p {
    color: #777; /* Cambiamos el color del texto */
  }
  

  .cont-Mis-Vis{
    padding: 0 7rem;
    display: flex;
    margin-bottom: 5rem;
  }



  /*Nuebvo codigo de head*/

  /* AboutUs.css */

.about-us-section {
  background-image: url(../assets/images/Nosotros/background.jpg);
  fill: #777;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  text-align: center;
}

.underline-central{
  height: 5px;
  width: 400px;
  margin: 15px 35rem;
  border-radius: 10px;
  background-color: #ff8800;
}




.overlay h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.overlay p {
  text-align: left;
  width: 1200px;
  margin-top: 10px;
  font-size: 1rem;
}
.overlay-bienvenida{
  text-align: left;
  width: 85%;
  font-weight: bold;
}

.overlay p:first-of-type {
  font-size: 1rem;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .about-us-section {
    height: 200px;
  }

  .overlay h1 {
    font-size: 1.8rem;
  }

  .overlay p {
    font-size: 1rem;
  }
}






