.Imagen_Tarjeta_Nutricion{
    display: flex;
    width: 100%;
    height: 200px;
    position: relative;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

 

.cont-general-Nutricion{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.Titulo_Principal{
    padding: 1rem;
}

.Listado_Tarjeta{
    border: 1px solid #000000;
    border-radius: 10px;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_Tarjetas{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.Titulo_Tarjeta_Tipo_Nut{
    width: 100%;
    padding: 5px;
    background-color: #ff8800;
}

.Detalle_Tarjeta_Tipo_Nut{
    width: 90%;
    padding: 2rem 1rem;
    border-bottom: 1px solid #000000;
    margin-bottom: 0.5rem;
}


.Iconos_Nutricion{
    width: 35px;
}

.contenedor_Porcion_Nutricional{
    width: 85%;
    display: flex;
    justify-content: center;
}

.contenedor_tarjeta{
    padding: 0.5rem;
    font-size: 13px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



.plan {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    max-width: 300px;
    height: 580px;
    max-height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    background-color: white;
}

.plan-header {
    margin: 0;
    position: absolute;
    background-color: #ff8800;
    color: black;
    padding: 6px 16px;
    border-radius:  0 0 10px 10px;
    font-weight: 600;
    font-size: small;
}

.cont-valor-nuttricional{
    display: flex;
    margin-bottom: 2rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}


.plan img {
    width: 100%;
    border-radius: 10px 10px 0 0 ;
    max-height: 200px;
    object-fit: cover;
}

.plan h3 {
    width: 100%;
    background-color: #ff8800;
    padding: 14px 0;
    margin: 0;
}

.plan-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.plan-details p{
    margin: 0;
}


button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkorange;
}



.plan-descripcion{
    height: 370px;
    padding: 10px 20px;
    opacity: 70%;
}




/**/

.cont-head-plan{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.group-plan {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.group-plan h2 {
    color: #ff7f00;
    margin-bottom: 20px;
}

.plan-container {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cont-plan-image{
    height: 470px;
    background-color: #0056b3;
}

.plan-image {
    width: 370px;
    height: 100%;   
    object-fit: cover;
    background-color: #0056b3;

}

.plan-type {
    border:2px solid #ff7f00;
    color: #ff7f00;
    font-weight: bold;
    font-size: var(--font-size-small);
    padding: 8px 10px 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.plan-details h3 {
    margin: 0;
}

.plan-details p {
    margin: 5px 0;
}

.plan-details ul {
    list-style: none;
    padding: 0;
}

.plan-details li {
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.plan-details li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.plan-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whatsapp-group {
    display: flex;
    align-items: center;
}

.whatsapp-group p{
    opacity: 70%;
}


.whatsapp-group img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}

.start-now {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.start-now:hover {
    background-color: #0056b3;
}


.plan-details-v1{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


.plan-details-v1 h3 {
    margin: 0;
}

.plan-details-v1 p {
    text-align: left;
    margin: 5px 0;
}

.plan-details-v1 ul {
    list-style: none;
    padding: 0;
}

.plan-details-v1 li {
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.plan-details-v1 li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}






.container {
    background-color: #fbe3a2; /* Background color similar to the image */
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .header {
    font-size: 24px;
    color: #000;
  }
  
  .subheader {
    font-size: 24px;
    color: #000;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 20px 0;
  }
  
  .content {
    font-size: 18px;
    color: #000;
  }
  