.nutricion-container{
        width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets//images/Nutricion/background.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    background-repeat: no-repeat;
    background-position: 0px -150px;
    height: 300px;
}

.nutricion-container h3{
    font-size: var(--font-size-big);
  }

.Imagen_Tarjeta_Nutricion{
    display: flex;
    width: 100%;
    height: 200px;
    position: relative;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

 

.cont-general-Nutricion{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.Titulo_Principal{
    margin: 3rem 0 0 0;

}

.Listado_Tarjeta{
    border: 1px solid #000000;
    border-radius: 10px;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_Tarjetas{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.Titulo_Tarjeta_Tipo_Nut{
    width: 100%;
    padding: 5px;
    background-color: var(--primary-color);;
}

.Detalle_Tarjeta_Tipo_Nut{
    width: 90%;
    padding: 2rem 1rem;
    border-bottom: 1px solid #000000;
    margin-bottom: 0.5rem;
}


.Iconos_Nutricion{
    width: 35px;
}

.contenedor_Porcion_Nutricional{
    width: 85%;
    display: flex;
    justify-content: center;
}

.contenedor_tarjeta{
    padding: 0.5rem;
    font-size: 13px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



.plan {
  
  border: 1px solid #ff7700;
    border-radius: 10px;
    margin: 20px;
    max-width: 300px;
    height: 580px;
    max-height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    background-color: white;
}

.plan-header {
    margin-left:2rem;
    margin-top: 0;
    position: absolute;
    background-color: var(--primary-color);;
    color: black;
    padding: 6px 16px;
    border-radius:  0 0 10px 10px;
    font-weight: 600;
    font-size: small;
}

.cont-valor-nuttricional{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cont-valor-nuttricional button{
  border-radius: 7px;
  margin: 0 auto;
  padding: 0;
}


.contenedor-1-nutri img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0 ;
    max-height: 200px;
    object-fit: cover;
}

.contenedor-1-nutri h3 {
    width: 100%;
    background-color: var(--primary-color);;
    padding: 14px 0;
    margin: 0;
}

.plan-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    margin-bottom: 1rem;
    
}

.plan-details p{
    margin: 0;
}





.contenedor-1-nutri{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.contenedor-2-nutri{
  height: 290px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-2-nutri p{
  margin: 0;
}

.plan-descripcion{
    padding: 10px 20px;
    opacity: 70%;
}


.cont-head-plan{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.group-plan {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.prices-nutrition{
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}

.group-plan h2 {
  width: 120%;
    text-align: left;
    color: #000000;
    margin-bottom: 20px;
    padding: 5px 0 5px 20px;
    border-left: 6px solid #000000;
}

.plan-container {
    max-height: 470px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #ec880d;
}

.cont-plan-image{
    height: 470px;
    background-color: #0056b3;
}

.plan-image {
    width: 370px;
    height: 100%;   
    object-fit: cover;
    background-color: #0056b3;

}

.plan-type {
    border:2px solid #ff7f00;
    color: #ff7f00;
    font-weight: bold;
    font-size: var(--font-size-small);
    padding: 8px 10px 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.plan-details h3 {
    margin: 0;
}

.plan-details p {
    margin: 5px 0;
}

.plan-details ul {
    list-style: none;
    padding: 0;
}

.plan-details li {
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.plan-details li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.plan-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whatsapp-group {
    display: flex;
    align-items: center;
}

.whatsapp-group p{
    opacity: 70%;
    width: 350px;
}


.whatsapp-group img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}


.plan-details-v1{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


.plan-details-v1 .prices-nutrition{
  text-align: end;
  width: 90%;

}

.plan-details-v1 h3 {
    margin: 0;
}

.plan-details-v1 p {
    text-align: left;
    margin: 5px 0;
}

.plan-details-v1 ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1.5rem 1rem 0 1rem;
    max-height: 180px;
    min-height: 180px;
}

.plan-details-v1 li {
    margin: 4px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.plan-details-v1 li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}







.container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: #dfdfdf;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 3rem;
  }
  
  .header {
    font-size: 24px;
    color: #f26f1d;
    margin-bottom: 10px;
  }
  
  .header .bold {
    font-weight: 700;

    color: #ec880d;
  }
  
  .subheader {
    font-size: 20px;
    color: #657786;
    margin-bottom: 20px;
  }
  
  .divider {
    width: 700px;
    height: 2px;
    background-color: #a2a2a2;
    margin: 20px 0;
  }
  
  .content {
    font-size: 18px;
    color: #333;
  }
  
  .content .bold {
    font-weight: 700;
    color: #ec8b0d;
  }

/*______________________________________________Responsive______________________________________________*/


  @media (max-width: 768px) {



.contenedor-1-nutri{
  padding: 0;
  margin: 0;
  width: 100%;
}


.contenedor-1-nutri h3{
    border-radius: 0 0 0 9px;  
    font-size: 12px;
}

.contenedor-2-nutri{
  width:380px;
  padding: 0 10px;
}

    .nutricion-container {
      height: auto;
      background-position: center;
      padding: 20px;
    }
  
    .nutricion-container h3 {
      font-size: var(--font-size-medium);
    }
  
    .Imagen_Tarjeta_Nutricion {
      height: 150px;
    }
  
    .cont-general-Nutricion {
      flex-direction: column;
      align-items: center;
    }
  
    .Titulo_Principal {
      margin: 1.5rem 0;
      text-align: center;
    }
  
    .Listado_Tarjeta {
      width: 90%;
      margin-bottom: 20px;
    }
      
   

    .contenedor_Tarjetas {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  
    .Titulo_Tarjeta_Tipo_Nut, .Detalle_Tarjeta_Tipo_Nut {
      text-align: center;
      padding: 10px;
    }
  
    .Iconos_Nutricion {
      width: 25px;
    }
  
    .contenedor_Porcion_Nutricional {
      width: 100%;
    }
  
    .contenedor_tarjeta {
      padding: 1rem;
    }
  
    .plan {
      flex-direction: row;
      max-width: 90%;
      height: 100%;
      margin: 10px 0;
      padding: 0;
    }
  
    .plan-header {
      font-size: var(--font-size-small);
      left: center;
    }
  
    .cont-valor-nuttricional {
      display: flex;
      margin-bottom: 0;
      justify-content: center;
      align-items: center;
    }
  


    .contenedor-1-nutri img {
      object-fit: cover;
      border-radius: 9px 0 0 0;
    }
  
    .contenedor-1-nutri h3 {
      padding: 10px 0;
    }
    .contenedor-2-nutri{
      font-size: 15px
    }
  
    .plan-details {
      padding: 0 10px 10px 10px;
      margin: 0 auto;
    }

    .plan-details p{
      font-size: 11px;
    }
  
    .button-nutricion {
      font-size: 14px;
      width: 150px;
      margin: 0;
      padding: 8px 7px;
    }
  
    .plan-descripcion {
      height: auto;
      padding: 10px 0 5px 0;
      font-size: 11px;
      margin: 0;
    }
  
    .cont-head-plan {
      flex-direction: column;
      align-items: center;
    }
  
    .group-plan {
      padding: 10px;
    }
  
    .group-plan h2 {
      width: 100%;
      text-align: left;
      font-size: 17px;
    }
  
    .plan-container {
      flex-direction: column;
      max-height: 100%;
      width: 97%;
    }

    .plan-details-v1 ul {
      flex-direction: column;
      max-height: 100%;
      margin: 1rem 0rem;
    }
  
    .cont-plan-image, .plan-image {
      height: auto;
      width: 100%;
    }
  
    .plan-type {
      font-size: var(--font-size-small);
      padding: 6px 8px;
    }
  
    .plan-details li {
      font-size: 12px;
    }
  
    .price {
      font-size: 20px;
    }
  
    .container {
      padding: 1.5rem;
    }
  
    .divider {
      width: 100%;
    }
     .whatsapp-group p {
      width: 130px;
    }


    .plan-price button{
     padding: 0;
    }
    
    .contenedor-2-nutri{
      height: 200px;
    }


  }
  