.main_Content {
  display: flex;
  justify-content: center;
}

.TablaAlimentacion {
  width: 80%;
  border-collapse: collapse;
}

.TablaAlimentacion td,
.TablaAlimentacion th {
  border: 1px solid #fff;
  padding: 8px;
  text-align: left;
}

.TablaAlimentacion th {
  background-color: #76a4fc;
  color: #fff;
}

