
.contenedor_tipos_entrenamiento{
    margin: 2rem 0;
    padding: 30px 0;
    background-color: hsl(0, 0%, 84%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_metodologia{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.Imagen_Metodologia{
    width: 150px;
    filter: grayscale(60%);
}


/*Footer Rutinas*/

.Container_footer_Rutinas{
    width: 100%;
    display: flex;
    justify-content: center;
}



