























.contenedor_tipos_entrenamiento{
    margin: 2rem 0;
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_metodologia{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.Imagen_Metodologia{
    width: 150px;
    filter: grayscale(60%);
}


/*Footer Rutinas*/

.Container_footer_Rutinas{
    display: flex;
    justify-content: space-around;
    
}



