.planes-title-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images//Planes/background.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    background-repeat: no-repeat;
    background-position: 0px -150px;
    height: 300px;
}

.planes-title-container h3{
    font-size: var(--font-size-big);
}

.planes-title-container span{
    color: #ffaa00;
}
