.container-rutinas{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.training-section {
    padding: 20px;
    text-align: center;
    display: flex;
}

.training-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.training-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.training-intro{
    width: 88%;
    display: flex;

}

.training-intro p {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
    max-width: 800px;
    text-align: left;
}

.training-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 15px;
    max-width: 350px;
    text-align: left;
}



.titulo-card {
    margin: 0;
    border-radius: 14px 14px 0 0;
    padding: 12px 0;
    background-color: #000;
    font-size: var(--font-size-medium);
    color: #fff;
}

.titulo-card h3{
    margin: 0;
    padding: 0;
}

.card p {
    padding: 25px 25px 0 25px;
    text-align: left;
    font-size: 0.9em;
}

.highlighted-card {
    background-color: #ff6200;
    border: 1px solid #ff6200;
    color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 300px;
}

.highlighted-card h3 {
    margin: 0;
    padding: 10px 0;
    font-size: var(--font-size-medium);
}


.trainer-image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}



.highlighted-content p {
    font-size: 0.9em;
    color: #fff;
    margin-bottom: 20px;
}

.highlighted-button {
    background-color: #ff6200;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.highlighted-button:hover {
    background-color: #ff4500;
}




.contend-card-text{
    background-color: #000;
    padding: 0 10px 25px 10px;
    border-radius: 0 0 10px 10px;
}