

.footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top {
    width: 850px;
    border-top: 1px solid #444;
    margin-bottom: 40px;
}

.footer-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: var(--font-size-small);
    padding: 10px;
}

.social-icon {
    width: 17px;
    height: 17px;
    margin-right: 12px;
    color: #fff;
}


.social-link:hover .social-icon{
    color: var(--primary-color);
    cursor: pointer;    
}

.social-link:hover{
    color:#ff7801
}

.footer-bottom {
    width: 850px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #444;
    padding-top: 20px;
    align-items: center;
}

.footer-column {
    flex: 1;
    max-width: 200px;
}

.footer-column h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 0.9em;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #fff;
}
