
  .construction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .construction-container h1 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .construction-container p {
    font-size: 18px;
    color: #657786;
    margin-bottom: 40px;
  }
  
 .loader {
  width: 29rem;
  margin: 0 auto;
 }
/*______________________________________________Responsive______________________________________________*/


